* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    padding: 10px;
}

img {
    max-width: 100%;
}

.search-box {
    margin: 25px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.characters-container {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 25px;
}

.card {
    max-width: 400px;
    width: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 4px 4px 10px; */
    overflow: hidden;
    gap: 1rem;

    .card-header{
        /* border-bottom: 1px solid rgba(0, 0, 0, 0.400); */
    }
    
    .card-body{
        padding: 0 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}